<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Order Cancellation Confirmation</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <table width="100%" style="font-family: Arial, sans-serif;">
        <tr>
            <td align="center" bgcolor="#f4f4f4">
                <table width="600" cellpadding="20" cellspacing="0">
                    <tr>
                        <td bgcolor="#ffffff">
                            <h1>Order Cancellation Confirmation</h1>
                            <p>Hello <strong>@Model.CustomerFirstname</strong>,</p>
                            <p>We regret to inform you that your order with ID <u>#@Model.OrderId</u> has been canceled by our store. Below are the details of the canceled order:</p>
                            <table>
                                <tr>
                                    <th align="left">Product</th>
                                    <th align="left">Quantity</th>
                                    <th align="left">Price</th>
                                </tr>
                                @foreach (var orderDetail in Model.OrderDetails)
                                {
                                    <tr>
                                        <td>@orderDetail.ProductVersionName</td>
                                        <td>@orderDetail.Quantity</td>
                                        <td>@orderDetail.Price @Model.Currency</td>
                                    </tr>
                                }
                            </table>
                            <p>If you have any questions or need further assistance, please feel free to contact us. We apologize for any inconvenience this may have caused and look forward to serving you in the future.</p>
                            <p>Thank you for considering our store, and we hope to assist you with your future orders.</p>
                            <p>Best regards.</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
